.animatedbg{
    
    position: fixed;
    animation:movie 1s steps(4) infinite;
    width: 200%;
    height: 200%;
    background-image:url(https://www.bepatrickdavid.com/assets/img/movie.png);
    left: -50%;
    top: -50%;
    opacity:.7;
    

}

@keyframes movie{
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        -webkit-transform: translate(-5%, -5%);
        transform: translate(-5%, -5%);
    }
    20% {
        -webkit-transform: translate(-10%, 5%);
        transform: translate(-10%, 5%);
    }
    30% {
        -webkit-transform: translate(5%, -10%);
        transform: translate(5%, -10%);
    }
    40% {
        -webkit-transform: translate(-5%, 15%);
        transform: translate(-5%, 15%);
    }
    50% {
        -webkit-transform: translate(-10%, 5%);
        transform: translate(-10%, 5%);
    }
    60% {
        -webkit-transform: translate(15%, 0);
        transform: translate(15%, 0);
    }
    70% {
        -webkit-transform: translate(0, 10%);
        transform: translate(0, 10%);
    }
    80% {
        -webkit-transform: translate(-15%, 0);
        transform: translate(-15%, 0);
    }
    90% {
        -webkit-transform: translate(10%, 5%);
        transform: translate(10%, 5%);
    }
    100% {
        -webkit-transform: translate(5%, 0);
        transform: translate(5%, 0);
    }
}