#Dec a{
    color: #f2f2f2;
    font-size: 30px;
    text-decoration: none;
    padding-right: 30px;
    font-family: 'Bebas Neue', cursive; 
}
#Dec a:hover{
  
    font-size: 27px;
    text-decoration: line-through;
}
#Dec .row{
    padding-top: 40px;
    
}
#Dec li{
    display: inline;
}

